
  <div class="main-container">
    <div class="top-container">
      <div class="nav-container">
        <div class="nav-section">
          <div class="category">
            <div >
              <select [(ngModel)]="searchCategory" name="searchCategory" class="select-category" ng-reflect-model="1" aria-placeholder="ewnfkjwfweg">
                <option value="" selected >Всі</option>
                <option value="1" >К-1</option>
                <option value="2" >К-2</option>
                <option value="3">К-3</option>
              </select>
              <!-- <div class="category-title"> Категорії</div>
              <span class="material-icons">
                keyboard_arrow_down
              </span> -->
            </div>
            <!-- <div class="category-list">
              <ul>
                <li><a href="">Головна</a></li>
                <li><a href=""></a>Шпаклівка</li>
                <li><a href=""></a>Штукатурка</li>
                <li><a href=""></a>Цемент</li>
                <li><a href=""></a>Фарби</li>
                <li><a href=""></a>Лаки</li>
                <li><a href=""></a>Ремонтні суміші</li>
              </ul>
            </div> -->
          </div>
          <div class="nav-search-section">
            <div class="nav-search">
              <div class="search-bar">
                <input [(ngModel)]="searchTitle" type="input"  placeholder="Назва продукта" name="searchTitle" id='name' value=""/>
                <!-- <input class="search-input" type="text" value="" size="50" autocomplete="off" placeholder="Пошук за назвою..." name="s"> -->
              <!-- </div> -->
              <!-- <div class="user-bar"> -->
                <span  class="material-icons cart-section" [routerLink]="['/cart']"  routerLinkActive="active">
                  <a class="link icon">shopping_cart</a>
                  <span class="icon-name">Корзина</span>
                  <span class="material-icons icon">
                    keyboard_arrow_down
                  </span>
                </span>
                <span class="material-icons user-section" [routerLink]="['/login']" routerLinkActive="active" *ngIf="isAdmin">
                  <a class="link icon">face</a>
                  <span class="icon-name">Login</span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="main-content">
      <div class="container">
        <app-product-form class="add-form" (onAddProduct)="addProduct($event)" *ngIf="isAdmin" ></app-product-form>
        <div class="product-list" >
          <app-product class="product" *ngFor="let product of products | filter: 'price': searchPrice  | filter: 'category': searchCategory | filter: 'body': searchBody | filter: 'title': searchTitle" [product]="product" (deleteProduct)="onDelete($event)" (editProduct)="onEdit($event)" (onAddToCart)="onAddToCart($event)"></app-product>
        </div>
      </div>
    </div>
  </div>


