
<!-- <div class="alert alert-info mb-3">Item name: {{item.name || 'n/a'}}, item count: {{item.count || 'n/a'}}</div> -->

<!-- <app-alert></app-alert> -->
<!-- <ul *ngIf="products?.length">
  <li *ngFor="let product of products">
    <span>{{ product.name }}, {{product.price}}</span>
    <button (click)="onShowReview">Show reviews</button>
    <ul>
      <li *ngFor="let review of reviews">
        <span>{{review.name}}</span>
        <p>{{review.text}}</p>
      </li>
    </ul>
  </li >
</ul> -->

<div class="container">
  <app-product-form class="card card-body col-6 mx-auto mb-5 mt-5" (onAddProduct)="addProduct($event)"></app-product-form>
  <input [(ngModel)]="query" placeholder="search text goes here"  >
  <button class="btn btn-danger">Search</button>
  <div class="row" >
    <app-product class="col col-6 mb-3" *ngFor="let product of products | filter : 'title,body,price': query" [product]="product" (deleteProduct)="onDelete($event)" (editProduct)="onEdit($event)" (onAddToCart)="onAddToCart($event)"></app-product>
  </div>
</div>
