<div class="container">
  <div *ngIf="!products.length "><p>Корзина пуста</p></div>
  <div class="row" >
    <button (click)="clearCart()" *ngIf="products.length > 0" class="clear-cart">Видалити все</button>

    <form [formGroup]="ourForm">
      <input type="text" name="name"  formControlName="name" placeholder="І'мя"/>
      <input type="text" name="phone"  formControlName="phone" placeholder="Tel:"/>
      <input type="email" id="email"  formControlName="email" placeholder="Email"/>
      <textarea type="text" name="comment" formControlName="comment" placeholder="Коментар..."></textarea>
      <button  value="Submit" (click)="submitData()" *ngIf="products.length >= 0" class="createOrder">Зробити замовлення</button>
    </form>


    <app-cart-item class="cart-item" *ngFor="let product of products" [product]="product"></app-cart-item>

    <div class="hidde modal-bg" [ngStyle]="{'display' : isShow ? 'flex' : 'none'}"  >
      <span class="close-bg" (click)="hideRecipe()"></span>
      <div class="modal-content" *ngIf="products.length > 0">
        <span (click)="hideRecipe()" class="close-btn">+</span>
        <span class="order-header">Замовлення</span>
        <div class="order">
          <div class="grid-container">
            <div class="id">#</div>
            <div class="name">Продукт</div>
            <div class="count">К-сть</div>
            <div class="price">Ціна</div>
          </div>
          <app-recipe [product]="product" *ngFor="let product of products" class="order-item"></app-recipe>
        </div>
        <div class="total">Total: {{total}} грн.</div>
        <div><button (click)="submitData()" class="sen-order">Відправити замовлення</button></div>
      </div>
    </div>
  </div>
</div>
