.container{
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.clear-cart{
  position: absolute;
  right: 100px;
  top: 5rem;
}

.cart-item{

}
