@import '../../styles/global/_colors.less';

.link{
  font-size: 14px;
  color: @color-black;
}

.link + .link{
  margin-left: 15px;
}

.logo{
  font-size: 28px;
  color: @color-black;
  text-decoration: none;
}

.logo:hover{
  color: @color-gray-line-gradient;
  cursor: pointer;
}

.link:hover,
.link.action {
  color: @color-red-line-gradient;
  cursor: pointer;
}

.active{
  color: red;
}

.nav-bar{
  display: flex;
  justify-content:space-between;
  padding: 0 13rem;
  background-color: white;
}

.contacts, .working-hour{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 3rem;
    font-size: 0.7rem;
    width: 10rem;
    line-height: 1.5;
    text-align: center;
}
