@import '../../styles/global/_colors.less';

mat-toolbar{
  display: flex;
  flex-direction: column;
  background:#eee;
  padding: 0;

}
.nav-bar{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:space-between;
  width: 75rem;
  font-size: 1rem;
}

.top-header, .center-header, .bottom-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  li{
    margin-right: 1rem;
  }
  li:last-child{
    margin-right: 0;
  }
}

.top-header{
  border-bottom: 0.2px solid;
  font-size: 0.8rem;
  justify-content: space-around;
}

.center-header{
  justify-content: space-between;
  margin-top: 1rem;
}

.bottom-header{
  justify-content: space-between;
}

ul{
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.nav-menu{
  flex-grow: 0.5;
}

.nav-search-section{
  width: 75%;
}

.nav-search{
  background: #222;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 0.5;
  justify-content: space-between;
  padding: 0 1rem;
}

.category{
  width: 25%;
  color: #fff;
}

.category-menu{
  display: flex;
  background: #f8ab16;
  justify-content: space-between;
  width: 100%;
}

.category-list{
  background: #222;
  position: absolute;
  display: block;
  width: 18.75rem;
  ul{
    flex-direction: column;
    padding: 0;
  }
}

.nav-search{

}

.nav-btn{
  display: flex;
  width: 4rem;
  justify-content: space-between;
}

.user-bar{
font-size: 1rem;
}

.cart-section, .user-section{
  font-size: 0.9rem;
  text-transform: uppercase;
  color: white;
  a{
    text-transform: none;
  }
}

.link{
  color: #fff;
}

.link + .link{
  margin-left: 1rem;
}

.icon{
  font-size: 1rem;
}

.logo{
  font-size: 2rem;
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.logo:hover{
  color: @color-gray-line-gradient;
  cursor: pointer;
}

.link:hover,
.link.action {
  color: @color-red-line-gradient;
  cursor: pointer;
}

.active{
  color: red;
}

.contacts, .working-hour{
  display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 3rem;
    font-size: 0.7rem;
    width: 10rem;
    line-height: 1.5;
    text-align: center;
}


