<mat-toolbar class="nav-bar">
    <span class="mr-5" ><a [routerLink]="['']" class="logo">MiшBud</a></span>
    <div class="contacts">
      <p>097-565-82188 <br>097-565-8218<br>097-565-8218 </p>
    </div>
    <div class="working-hour">
      <p>понеділок-неділя:<br>
      8.00 - 21.00<br>
      (без визідних)</p>
    </div>
    <nav class="nav-btn">
      <span class="material-icons" [routerLink]="['/cart']"  routerLinkActive="active">
        <a class="link">shopping_cart</a>
        </span>
        <span class="material-icons" [routerLink]="['/login']" routerLinkActive="active">
        <a class="link">face</a>
        </span>
      <!-- <a [routerLink]="['/signup']" routerLinkActive="active"  class="link">signup</a> -->
    </nav>
</mat-toolbar>
