<mat-toolbar class="nav-bar">
    <span class="mr-5" ><a [routerLink]="['']" class="logo">MiшBud</a></span>
    <div class="contacts">
      <p>097-565-8218 <br>097-565-8218<br>097-565-8218 </p>
      <!-- <p>097-565-8218</p>
      <p>097-565-8218</p> -->
    </div>
    <div class="working-hour">
      <p>понеділок-неділя:<br>
      8.00 - 21.00<br>
      (без визідних)</p>
    </div>
    <nav class="nav">
      <a [routerLink]="['/cart']"  routerLinkActive="active"  class="link">Cart</a>
      <a [routerLink]="['/login']" routerLinkActive="active"  class="link">login</a>
      <!-- <a [routerLink]="['/signup']" routerLinkActive="active"  class="link">signup</a> -->
    </nav>
</mat-toolbar>
