<div class="container">
  <div *ngIf="!products.length" class="d-flex justify-content-center w-100"><p>Корзина пуста</p></div>
  <div class=" d-flex justify-content-between col-12" *ngIf="products.length > 0" >
    <button  value="Submit" [routerLink]="['recipe']" class="createOrder">Замовити</button>
    <button (click)="clearCart()"  class="clear-cart">Очистити все</button>
  </div>
  <div class="d-flex flex-column p-0 col-12"  *ngIf="products.length">
    <!-- <div class="orderForm"  *ngIf="products.length > 0">
      <form [formGroup]="ourForm" #form="ngForm" class="col-11">
        <div class="form-container flex-column">
          <div class="input-fields col">
            <input type="text" name="name"  formControlName="name" placeholder="І'мя" required/>
            <input type="text" name="phone"  formControlName="phone" placeholder="Tel:" required/>
            <input type="email" id="email"  formControlName="email" placeholder="Email"/>
          </div>
          <div class="input-Area col">
              <textarea type="text" name="comment" formControlName="comment" placeholder="Коментар..." class="txtArea"></textarea>
              <button  value="Submit" (click)="showRecipe()" [routerLink]="['recipe']" *ngIf="products.length >= 0" class="createOrder" [disabled]="form.invalid">Замовити</button>
          </div>
        </div>
      </form>
    </div> -->
    <div class="product-list" *ngIf="products.length">
      <div class="products-section">
        <!-- <app-cart-item class="cart-item" *ngFor="let product of products" [product]="product"></app-cart-item> -->
        <table class="table thead-light" >
          <thead>
            <tr>
              <th scope="col">Продукт</th>
              <th scope="col">Назва</th>
              <th scope="col">К-сть</th>
              <th scope="col">Вартість</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td><img src={{product.imgUrl}}  alt="product" class="card-img " /></td>
              <td>{{product.title}}</td>
              <td><input type="number" id="count" class=""
                [(ngModel)]="countVal"
                placeholder={{product.count}}
                (click)="onCount()"></td>
              <td>{{product.price}}</td>
              <td><button (click)="deleteItem(product.$key)">Видалити</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- <div class="hidden modal-bg" [ngStyle]="{'display' : isShow ? 'flex' : 'none'}"  >
      <span class="close-bg" (click)="hideRecipe()"></span>
      <div class="modal-content" *ngIf="products.length > 0">
        <span (click)="hideRecipe()" class="close-btn">+</span>
        <span class="order-header">Замовлення</span>
        <div class="order">
          <div class="grid-container">
            <div class="id">#</div>
            <div class="name">Продукт</div>
            <div class="count">К-сть</div>
            <div class="price">Ціна</div>
          </div>
          <app-recipe [product]="product" *ngFor="let product of products" class="order-item"></app-recipe>
        </div>
        <div class="total">Total: {{total}} грн.</div>
        <div><button (click)="submitData()" class="sen-order">Відправити замовлення</button></div>
      </div>
    </div> -->
  </div>
</div>
