<div class="container">
  <div *ngIf="!products.length"><p>Корзина пуста</p></div>
  <button (click)="clearCart()" *ngIf="products.length > 0" class="clear-cart">Очистити все</button>
  <div class="d-flex flex-column" >
    <div class="orderForm"  *ngIf="products.length > 0">
      <form [formGroup]="ourForm" #form="ngForm">
        <div class="form-container">
          <div class="input-fields">
            <input type="text" name="name"  formControlName="name" placeholder="І'мя" required/>
            <input type="text" name="phone"  formControlName="phone" placeholder="Tel:" required/>
            <input type="email" id="email"  formControlName="email" placeholder="Email"/>
          </div>
          <div class="input-Area">
              <textarea type="text" name="comment" formControlName="comment" placeholder="Коментар..." class="txtArea"></textarea>
              <button  value="Submit" (click)="showRecipe()" *ngIf="products.length >= 0" class="createOrder" [disabled]="form.invalid">Зробити замовлення</button>
          </div>
        </div>
      </form>
    </div>
    <div class="product-list" *ngIf="products.length">
      <div class="products-section">
        <!-- <app-cart-item class="cart-item" *ngFor="let product of products" [product]="product"></app-cart-item> -->
        <table class="table" >
          <thead class="thead-light">
            <tr>
              <th scope="col">Продукт</th>
              <th scope="col">Назва</th>
              <th scope="col">К-сть</th>
              <th scope="col">Вартість</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td><img src={{product.imgUrl}}  alt="product" class="card-img" /></td>
              <td>{{product.title}}</td>
              <td><input type="number" id="count"
                [(ngModel)]="product.count"
                placeholder={{product.count}}
                (change)="updateNumberOfProduct(product.$key, product.count)"></td>
              <td>{{product.price}}</td>
              <td><button (click)="deleteItem(product.$key)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <button (click)="getItems()">Get Products</button>
      </div>
    </div>

    <div class="hidden modal-bg" [ngStyle]="{'display' : isShow ? 'flex' : 'none'}"  >
      <span class="close-bg" (click)="hideRecipe()"></span>
      <div class="modal-content" *ngIf="products.length > 0">
        <span (click)="hideRecipe()" class="close-btn">+</span>
        <span class="order-header">Замовлення</span>
        <div class="order">
          <div class="grid-container">
            <div class="id">#</div>
            <div class="name">Продукт</div>
            <div class="count">К-сть</div>
            <div class="price">Ціна</div>
          </div>
          <app-recipe [product]="product" *ngFor="let product of products" class="order-item"></app-recipe>
        </div>
        <div class="total">Total: {{total}} грн.</div>
        <div><button (click)="submitData()" class="sen-order">Відправити замовлення</button></div>
      </div>
    </div>
  </div>
</div>
