<div class="container p-0">
  <div class="row">
    <div class="left-section col-lg-3 my-4">
      <div class="row">
        <div class="col">
          <div class="category-title d-flex p-1">
            <i class="fas fa-align-justify"></i>
            <h6>Categories</h6>
          </div>
          <div class="list-group">
            <ul class="p-0">
              <li *ngFor="let category of categories"><a href="#" class="list-group-item">{{category}}</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="block-title mb-2">
            <h6>
              <span>price</span>
            </h6>
          </div>
          <div class="col-lg-12 col-md-6 mb-4 p-0">
            <div class="card h-0">
              <a href="#"><img class="card-img-top" src="http://placehold.it/600x600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">530 грн</small>
              </div>
            </div>
          </div>
          <div class="col-lg-12 col-md-6 mb-4 p-0">
            <div class="card h-0">
              <a href="#"><img class="card-img-top" src="http://placehold.it/600x600" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">Item One</a>
                </h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              </div>
              <div class="card-footer">
                <small class="text-muted">530 грн</small>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="main-section col-lg-9">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
