<div class="content">
  <div class="right-section">
    filter of existing products
  </div>
  <div class="content">
    <router-outlet></router-outlet>
    Products based on filter
  </div>
</div>


<!-- <div class="row">
  <div class="container">
      <div><input [(ngModel)]="searchTitle" type="input"  placeholder="Назва продукта" name="searchTitle" id='name' value=""/></div>
      <div class="row">
      <app-product class="col-lg-3 col-md-6 mb-2" *ngFor="let product of products | filter: 'price': searchPrice  | filter: 'category': searchCategory | filter: 'body': searchBody | filter: 'title': searchTitle" [product]="product"></app-product>
    </div>
  </div>
</div>


 -->

