<div class="container">
  <div class="content d-flex jusfy-content">
    <div class="right-section col" *ngIf="products$">
      <div class="btn-group dropright"  *ngFor=" let product of products$">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{product.category}}
        </button>
        <!-- <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div> -->
      </div>
    </div>
    <div class="content">
      <app-product></app-product>
    </div>
  </div>
</div>


<!-- <div class="row">
  <div class="container">
      <div><input [(ngModel)]="searchTitle" type="input"  placeholder="Назва продукта" name="searchTitle" id='name' value=""/></div>
      <div class="row">
      <app-product class="col-lg-3 col-md-6 mb-2" *ngFor="let product of products | filter: 'price': searchPrice  | filter: 'category': searchCategory | filter: 'body': searchBody | filter: 'title': searchTitle" [product]="product"></app-product>
    </div>
  </div>
</div>


 -->

