<div class="container-fluid bg-dark p-0">
  <div class="container p-0 bg-dark navbar-dark">
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <!-- <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngFor="let category of categories">
          <a class="nav-link" href="#" (click)="getCategory($event.target.text)" [routerLink]="['/products']">{{category}} -->
            <!-- <span class="sr-only">(current)</span> -->
          <!-- </a>
        </li>
      </ul>
    </div> -->
    <div>
      <a class="navbar-item mr-2 p-1" href="#" [routerLink]="['/cart']"  routerLinkActive="active" >Корзина</a>
      <a class="navbar-item mr-1 p-1" href="#" [routerLink]="['/login']" routerLinkActive="active">Login</a>
    </div>
  </div>
</div>
