<div class="container-fluid bg-dark p-0">
  <div class="container p-0 bg-dark navbar-dark d-flex justify-content-between">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="text-white" *ngFor="let category of categories$">
      {{category.category}}
    </div>
    <div class="mt-2">
      <a class="navbar-item mr-2 p-1"[routerLink]="['/products']"  routerLinkActive="active" >Products</a>
      <a class="navbar-item mr-2 p-1"[routerLink]="['/cart']"  routerLinkActive="active" >Корзина</a>
      <a class="navbar-item mr-1 p-1"[routerLink]="['/login']" routerLinkActive="active">Login</a>
    </div>
  </div>
</div>
