
<div class="productCard" *ngIf="product">
  <div class="card-body" (onAddNewProduct)="onAddNewPost($event)" >
    <div class="card-header">
      <p class="card-text">Product: {{product.title}}</p>
      <label >Категорія: {{product.category}}</label>
      <div class="col-sm-6 col-lg-6">
        <button class="btn btn-danger" *ngIf="isAdmin" (click)="onDelete(product.$key)">Delete</button>
        <button class="btn btn-secondary" *ngIf="!editProductKey" (click)="onEdit(product)" >Edit</button>
        <button class="btn btn-secondary" (click)="onReset()" *ngIf="editProductKey">Cancel</button>
        <a [routerLink]="['/product-details']" routerLinkActive="active" class="link"><button class="btn btn-primary">Details</button></a>
        <button class="btn" mat-raised-button color="accent" (click)="addToCart(product)">To Cart</button>
      </div>
    </div>
    <div class="flex-content">
      <div class="image">
        <a class="imgages-view" href="">
          <img src="https://source.unsplash.com/random/150x150" alt="product" className="card-img-top" />
        </a>
      </div>
      <div class="product-details">
        <p class="card-text">Деталі продукта:</p>
        <ul class="attribute-list">
          <li><p class="card-text">Категорія: {{product.category}}</p></li>
          <li><p class="card-text">Опис: {{product.body}}</p></li>
        </ul>
      </div>
      <div class="price">
          <div class="cena text-center-xs">{{product.price}} грн. </div>
          <button class="btn" mat-raised-button color="accent" (click)="addToCart(product)">Купити</button>
      </div>
</div>

