
<div class="productCard" *ngIf="product">
  <div class="card-body" (onAddNewProduct)="onAddNewPost($event)" >
    <div class="section">
      <div class="cardHeader">
        <p class="card-text">Product: {{product.title}}</p>
      </div>
      <div class="flex-content">
        <div class="image">
          <a class="imgages-view" href="">
            <img src={{product.imgUrl}} alt="product" class="card-img" />
          </a>
        </div>
      </div>
    </div>
    <div class="section wider">
      <div class="cardHeader">
        <label >Категорія: {{product.category}}</label>
      </div>
      <div class="flex-content">
        <div class="product-details">
          <a [routerLink]="['/product-details']" routerLinkActive="active" class="link" (click)="onDetailsProduct(product)">
            <p class="card-text">Деталі продукта:</p>
            <ul class="attribute-list">
              <li><p class="card-text">Категорія: {{product.category}}</p></li>
              <li><p class="card-text">Короткий опис: {{product.shortDescription}}</p></li>
              <li><p class="card-text">Опис: {{product.body}}</p></li>
            </ul>
          </a>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="cardHeader">
        <div class="buttons-section" >
          <button class="button danger" *ngIf="isAdmin" (click)="onDelete(product.$key)">Видалити</button>
          <button class="button secondary" *ngIf="isAdmin" (click)="onEdit(product)"  >Редагувати</button>
          <button class="button editbtn" (click)="onReset()" *ngIf="editProductKey">Відмінити</button>
          <a [routerLink]="['/product-details']" routerLinkActive="active" class="link"><button class="button primary" (click)="onDetailsProduct(product)">Деталі</button></a>
        </div>
      </div>
      <div class="flex-content">
        <div class="price">
          <div class="cena text-center-xs">{{product.price }} грн/шт </div>
          <span class="q-field">
            <i class="material-icons" (click)="onCount(-1)">arrow_left</i>
            <span>{{countVal}}</span>
            <i class="material-icons" (click)="onCount(1)">arrow_right</i>
          </span>
          <button class="button buy"  color="accent" (click)="addToCart(product)">Купити</button>
      </div>
    </div>
  </div>
</div>

