@import '../../../styles/global/_colors.less';


.productCard{
  display: flex;
  flex-direction: column;
  background-color: @color-white;
  box-shadow: 10px 5px 10px #88888845;
  border-radius: 10px;
  border: 0.5px solid #88888838;
  width: 73%;
  margin-bottom: 2em;
  .cardHeader{
    display: flex;
    justify-content: space-between;
    max-height: 3em;
    background: @color-gray-line-gradient;
    border-bottom:none;
    padding: 0 2em;
    p{ margin: 1em 0;}
  }
  .card-body{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .flex-column{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .img-section{
      .img-content{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 1em;
      }
    }
    .product-section{
      min-height: 10em;
      max-width: 55%;
      .details{
        padding: 0 1em;
        .link{
          display: flex;
          flex-wrap: wrap;
        }
      }
    }
    .price-section{
      min-width: 20%;
      .price-container{
        margin: 0 1em;
        .price-header{
          display: flex;
          margin: 0 1em;
        }
        .price-content{
          display: flex;
          justify-content: space-around;
          flex-wrap: wrap;
          margin: 0 1em;

          .price{
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            width: 100%;

            .cina-section{
              display: flex;
              justify-content: center;
              .cina{
                color: red;
                font-weight: bold;
                margin-right: 0.3em;
              }
            }

            .q-field{
              display: flex;
              align-items: center;
              justify-content: center;
              margin: 1em 0;
            }
          }
        }
      }
    }
    .border-left{
      border-left: 1px solid #eee;
    }
  }
}

.details{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.image{
  flex-grow: 1;
  display: flex;
  justify-content: space-around;

  .card-img{
    width: 9em;
    height: 9em;
    margin: 0.5em;
  }
}


.danger{
  background-color: @color-danger-btn;
  color: @color-white !important;
}

.secondary{
  background-color: @color-edit-btn;
  color: @color-white !important;
}

.editbtn{
  background-color: @color-gray-line-gradient;
}

.primary{
  background-color: @color-warning-btn;
  color: @color-white !important;
}

.buy{
  background: linear-gradient(4deg, @color-red, transparent) ;
  color: @color-white !important;
}

.transformed{
	transform: skew(420deg);
	background-color: @color-trnsformed;
}

.button{
  border-radius: 0.75em;
  color: #556b2ffa;
}

.flex-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 1rem;
}



.material-icons{
  cursor: pointer;
}

p{
  margin: 0;
}



@media all and (max-width: 575px) {
  div{
    flex-direction: column;
  }
  .img-section,.product-section,.price-section{
    width: 100%;
  }
  .card-body{
    justify-content: space-around;
  }
}

@media only screen and (min-width : 575px) and (max-width : 1290px) {
  .card-body{
    justify-content: space-around;
  }

  .img-section{
    order: 0;
  }
  .product-section{
    order: 2;
    max-width: 90% !important;
  }
  .price-section{
    order: 1;
  }
}


