<div class="row">
  <div class="col">
    <div class="category-title d-flex p-1">
      <i class="fas fa-align-justify"></i>
      <h6>Categories</h6>
    </div>
    <app-left-menu [products$]="products$"></app-left-menu>
  </div>
</div>
<div class="row">
  <div class="col">
    <div class="block-title mb-2">
      <h6>
        <span>price</span>
      </h6>
    </div>
    <div class="col-12 p-0 mb-4">
      <app-ad-product *ngFor="let product of products" [product$]="product"></app-ad-product>
    </div>
  </div>
</div>
