<div class="row">
  <div class="container">
      <div><input [(ngModel)]="searchTitle" class="mt-4" type="input"  placeholder="Назва продукта" name="searchTitle" id='name' value=""/></div>
      <div class="d-flex flex-wrap ">
        <app-product class="col-4 mt-2 mb-2" *ngFor="let product of products$ | productFilter : searchTitle " [product]="product"></app-product>
      </div>
  </div>
</div>



<!-- <div class="row">
  <div class="container">
      <div><input [(ngModel)]="searchTitle" type="input"  placeholder="Назва продукта" name="searchTitle" id='name' value=""/></div>
      <div class="row">
      <app-product class="col-lg-3 col-md-6 mb-2" *ngFor="let product of products | filter: 'price': searchPrice  | filter: 'category': searchCategory | filter: 'body': searchBody | filter: 'title': searchTitle" [product]="product"></app-product>
    </div>
  </div>
</div> -->




