<div class="productCard" *ngIf="product">
  <div class="cardHeader">
    <p class="card-text">Product: {{product.title}}</p>
  </div>
  <div class="card-body" (onAddNewProduct)="onAddNewPost($event)" >
    <div class="img-section flex-column">
      <div class="flex-content">
        <div class="image">
          <a class="imgages-view" href="">
            <img src={{product.imgUrl}} alt="product" class="card-img" />
          </a>
        </div>
      </div>
    </div>
    <div class="product-section flex-column">
      <a [routerLink]="['/product-details']" routerLinkActive="active" class="link" (click)="onDetailsProduct(product)">
        <div class="details">
          <div class="details-header">
            <label >Категорія: {{product.category}}</label>
          </div>
          <div class="flex-content">
            <div class="product-details">
              <p >Деталі продукта:<br>
              <p>Категорія: {{product.category}}<br>
              <p>Короткий опис: {{product.shortDescription}}<br>
              <!-- <p >Опис: {{product.body}}</p> -->
            </div>
          </div>
        </div>
      </a>
    </div>
    <div class="price-section border-left flex-column">
      <div class="price-container">
        <div class="price-content">
          <div class="price">
            <div class="cina-section">
              <span class="cina">{{product.price }}</span>
              <span>грн/шт</span>
            </div>
            <span class="q-field">
              <i class="material-icons" (click)="onCount(-1)">arrow_left</i>
              <span>{{countVal}}</span>
              <i class="material-icons" (click)="onCount(1)">arrow_right</i>
            </span>
            <button class="button danger" (click)="deleteItem(product.$key)" >Видалити</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
